.links-container {
    /* border: 1px solid orange; */
    width: 95%;
    margin: 10px auto 40px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.facebook,
.whatsapp,
.instagram,
.twitter,
.linkedin,
.more {
    /* border: 1px solid orange; */
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease, transform 0.3s ease;
    box-shadow: 0 0 10px rgb(220, 220, 220);
}

.facebook a,
.whatsapp a,
.instagram a,
.twitter a,
.linkedin a {
    text-decoration: none;
}

.facebook i,
.whatsapp i,
.instagram i,
.twitter i,
.linkedin i,
.more i {
    color: var(--color4);
    font-size: 35px;
    transition: color 0.3s ease;
}

.facebook:hover,
.whatsapp:hover,
.instagram:hover,
.twitter:hover,
.linkedin:hover {
    background: var(--color3);
    transform: translateY(-2px);
}

.more:hover {
    background: var(--color3);
    transform: translateX(5px);
}

@media (max-width:750px) {
    .links-container {
        gap: 10px;
    }
}