.values-container {
    /* border: 1px solid orange; */
    width: 85%;
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.value-card .content-card {
    height: 143.33px;
}

@media (max-width:750px) {
    .values-container {
        /* border: 1px solid orange; */
        width: 90%;
    }
    .value-card.content-card {
        width: 100%;
    }
}
