.container-title {
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.title-dot {
    background: var(--color2);
    height: 10px;
    width: 10px;
    border-radius: 30px;
}

.hope-container {
    /* border: 1px solid orange; */
    background: var(--color1);
    padding: 20px 10vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.hope-card > button{
    border: none;
    background: var(--color3);
    padding: 8px 3vw;
    border-radius: 30px;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.hope-card > button a {
    color: var(--color4);
}

.hope-card h2 {
    font-weight: 500;
    color: white;
    font-size: max(4.2vw, 22px);
    line-height: 1.1 !important;
}

.hope-card h3 {
    color: #f0f0f0;
}

.hope-subheading {
    /* border: 1px solid orange; */
    display: flex;
    align-items: center;
    gap: 10px;
}
.hope-dot {
    height: 20px;
    width: 5px;
    /* background: #2C2C54; */
    background: #ff4837;
    border-radius: 30px;
}

.hope-heading {
    /* border: 1px solid orange; */
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}
.hope-dot2 {
    height: 80px;
    width: 8px;
    /* background: #2C2C54; */
    background: #5E5EEE;
    border-radius: 30px;
}

.hope-heading h2 span {
    color: #ff4837;
}

.hope-card p {
    color: #f0f0f0;
    font-size: 1.3vw;
    width: 600px;
}

.hope-card:nth-of-type(1) {
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hope-card:nth-of-type(2) {
    /* border: 1px solid orange; */
    width: 350px;
    border-radius: 20px;
    background: var(--color3) url(../../assets/img3.jpeg) no-repeat center;
    background-size: 100%;
    object-fit: contain;
    object-position: center;
}

.hope-btns > button a {
    color: #f0f0f0;
    font-size: 1.2rem;
}

.hope-btns > button:nth-of-type(1) {
    border: none;
    font-weight: 500;
    padding: 10px 3vw;
    background: #5E5EEE;
    font-size: 18px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.hope-btns > button:nth-of-type(2) {
    /* border: 3px solid #f9f9f9; */
    border: none;
    background: #ff4837;
    width: 200px;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 3vw;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

@media (max-width:750px) {
    .hope-container {
        /* border: 1px solid orange; */
        flex-wrap: wrap;
        padding: 20px;
    }
    .hope-card p {
        width: 100%;
        font-size: 1.2rem;
    }
    .hope-dot {
        height: 40px;
        width: 8px;
    }
    .hope-dot2 {
        height: 120px;
        width: 10px;
    }
    .hope-card h2 {
        font-size: 3.5rem;
    }

    .hope-btns {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .hope-btns button:nth-of-type(1) {
        width: 250px;
    }
    .hope-btns button:nth-of-type(2) {
        width: 250px;
    }
}